@tailwind base;
@tailwind components;
@tailwind utilities;

.fisheye {
    transform: perspective(1000px) scale(1.2) rotateX(10deg) rotateY(10deg);
}

.link {
    @apply flex cursor-pointer text-gray-400 py-2 md:mr-4 border-none rounded-xl text-lg text-end align-baseline  bg-transparent hover:text-white transition ease-in-out duration-100 mt-1 md:mt-0;
}

.wave-transform {
    transform: scale(1.2) translateY(-20px);
}

.neg-ml-32{margin-left:-8rem}

html, body {
    @apply bg-green-800;
    height: 100%;
    margin: 0;

   /* Ensure no overflow from the body */
}

